<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="{{ site.baseurl }}css/style.css" />
    <script type='text/javascript' src='//button.spread.ly/js/v1/loader.js'></script>
  </head>
  <body>
    <header>
      <div>
        <a href="{{ site.baseurl }}">
					<img src="{{ site.baseurl }}img/spread.gif" id="logo" />
          <h1>Doku</h1>
        </a>
        <p id="tagline">The Spreadly dokumentation</p>
      </div>

			<nav>
				<ul>
					<li><a href="{{ site.baseurl }}">Home</a></li>
					<li><a href="{{ site.baseurl }}Button">Button (iFrame)</a></li>
					<li><a href="{{ site.baseurl }}JavaScript_Button">Button (JavaScript)</a></li>
					<li><a href="{{ site.baseurl }}PuSH_API">PuSH API</a></li>
					<li><a href="{{ site.baseurl }}Deal_API">Deal API</a></li>
					<li><a href="{{ site.baseurl }}List_of_plugins">Plugins</a></li>
					<li><a href="{{ site.baseurl }}Examples">more Examples</a></li>
				</ul>
			</nav>
    </header>
    <div id="content">
      {{ content }}

      <footer>
        <p>
          This website is in a <a href="https://github.com/ekaabo/spreadly-doku">public git repository</a>.
          <a href="http://spreadly.com/imprint">Impressum</a>

          <a href="http://dev.spreadly.com" class="spreadly-button" data-style="flat">Share</a>
        </p>
      </footer>
    </div>
  </body>
</html>
