<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div>
        <a href="/">
          <h1>Spreadly Doku</h1>
        </a>
        <p id="tagline"></p>
      </div>
    </header>
    <div id="content">
      {{ content }}

      <footer>
        <p>This website is in a <a href="https://github.com/ekaabo/spreadly-doku">public git repository</a>.</p>
      </footer>
    </div>
  </body>
</html>
